hybrid_travel_pro.json
{
  "name": "Hybrid Travel Assistant - PRO Standard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "travel-pro",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "travel-pro"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-message",
              "leftValue": "={{ $json.body?.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        }
      },
      "id": "validate-node",
      "name": "Validate_Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "return {\n  intent: 'validation_error',\n  response: 'Vui lòng gửi tin nhắn. Ví dụ: \"thời tiết Hà Nội ngày mai\"',\n  type: 'error'\n};"
      },
      "id": "validation-error-node",
      "name": "Validation_Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 600]
    },
    {
      "parameters": {
        "jsCode": "// Rule-based Intent (CHEAP - no AI cost)\nconst message = ($json.body?.message || '').toLowerCase().trim();\n\nconst rules = [\n  { intent: 'get_weather', keywords: ['thời tiết', 'weather', 'trời'], confidence: 0.9 },\n  { intent: 'search_hotel', keywords: ['khách sạn', 'hotel', 'chỗ ở'], confidence: 0.85 },\n  { intent: 'get_attraction_info', keywords: ['điểm tham quan', 'attraction', 'du lịch'], confidence: 0.8 }\n];\n\nfor (const rule of rules) {\n  if (rule.keywords.some(kw => message.includes(kw))) {\n    return {\n      message: message,\n      message_original: $json.body.message,\n      intent: rule.intent,\n      confidence: rule.confidence,\n      source: 'rule',\n      needs_ai: false\n    };\n  }\n}\n\nreturn {\n  message: message,\n  message_original: $json.body.message,\n  intent: 'rule_failed',\n  confidence: 0,\n  source: 'rule',\n  needs_ai: true\n};"
      },
      "id": "rule-detect-node",
      "name": "Rule_Intent_Detect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "needs-ai",
              "leftValue": "={{ $json.needs_ai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "ai-check-node",
      "name": "AI_Fallback_Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "jsCode": "// AI Fallback (ONLY when rules fail)\nconst msg = $json.message || '';\nlet intent = 'unknown';\n\nif (msg.includes('hotel') || msg.includes('ở')) {\n  intent = 'search_hotel';\n} else if (msg.includes('xem') || msg.includes('đi')) {\n  intent = 'get_attraction_info';\n} else if (msg.includes('thời tiết')) {\n  intent = 'get_weather';\n}\n\nreturn {\n  intent: intent,\n  confidence: 0.7,\n  source: 'ai_fallback',\n  message: $json.message,\n  message_original: $json.message_original\n};"
      },
      "id": "ai-agent-node",
      "name": "AI_Agent_Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "jsCode": "// Entity Normalize\nconst message = $json.message || '';\n\nconst locationMap = {\n  'hà nội': 'Hanoi',\n  'hanoi': 'Hanoi',\n  'đà nẵng': 'Da Nang',\n  'da nang': 'Da Nang',\n  'sài gòn': 'Ho Chi Minh',\n  'saigon': 'Ho Chi Minh'\n};\n\nlet location = null;\nfor (const [key, value] of Object.entries(locationMap)) {\n  if (message.includes(key)) {\n    location = value;\n    break;\n  }\n}\n\nlet date = null;\nif (message.includes('hôm nay')) date = 'today';\nif (message.includes('ngày mai')) date = 'tomorrow';\n\nreturn {\n  intent: $json.intent,\n  confidence: $json.confidence ?? 0.5,\n  source: $json.source || 'unknown',\n  entities: { location, date },\n  message: message,\n  message_original: $json.message_original\n};"
      },
      "id": "normalize-node",
      "name": "Normalize_Entities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "// Check Required Fields\nconst intent = $json.intent || 'unknown';\nconst entities = $json.entities || {};\n\nconst requirements = {\n  'get_weather': ['location'],\n  'search_hotel': ['location'],\n  'get_attraction_info': ['location']\n};\n\nconst required = requirements[intent] || [];\nconst missing = required.filter(f => !entities[f]);\n\nreturn {\n  ...($json),\n  has_all_fields: missing.length === 0,\n  missing_fields: missing\n};"
      },
      "id": "check-fields-node",
      "name": "Check_Required_Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-all",
              "leftValue": "={{ $json.has_all_fields }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "has-all-node",
      "name": "Has_All_Required_Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "jsCode": "// Generate Clarification\nconst missing = $json.missing_fields || [];\nlet q = 'Vui lòng cung cấp:\\n';\nmissing.forEach(f => {\n  if (f === 'location') q += '• Địa điểm (vd: Hà Nội)\\n';\n});\n\nreturn { response: q, type: 'clarification' };"
      },
      "id": "clarify-node",
      "name": "Generate_Clarification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 600]
    },
    {
      "parameters": {
        "mode": "expression",
        "value1": "={{ $json.intent }}",
        "rules": [
          {
            "operation": "equals",
            "value2": "get_weather",
            "output": 0
          },
          {
            "operation": "equals",
            "value2": "search_hotel",
            "output": 1
          },
          {
            "operation": "equals",
            "value2": "get_attraction_info",
            "output": 2
          }
        ],
        "fallbackOutput": 3
      },
      "id": "route-node",
      "name": "Route_to_Tool",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "url": "https://api.weatherapi.com/v1/current.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.WEATHER_API_KEY || '9e89a15b36844093ba775734252701' }}"
            },
            {
              "name": "q",
              "value": "={{ $json.entities.location }}"
            },
            {
              "name": "lang",
              "value": "vi"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "weather-node",
      "name": "Weather_API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "jsCode": "const loc = $json.entities?.location || 'Unknown';\nreturn {\n  tool_result: {\n    hotels: [\n      { name: `Khách sạn A - ${loc}`, price: '500k VND' },\n      { name: `Khách sạn B - ${loc}`, price: '800k VND' }\n    ]\n  },\n  intent: $json.intent\n};"
      },
      "id": "hotel-node",
      "name": "Hotel_Mock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "jsCode": "const loc = $json.entities?.location || 'Unknown';\nreturn {\n  tool_result: {\n    attractions: [\n      { name: `Đền ${loc}`, rating: '4.5/5' },\n      { name: `Chùa ${loc}`, rating: '4.8/5' }\n    ]\n  },\n  intent: $json.intent\n};"
      },
      "id": "attraction-node",
      "name": "Attraction_Mock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 600]
    },
    {
      "parameters": {
        "jsCode": "return {\n  response: 'Xin lỗi, tôi chưa hỗ trợ yêu cầu này.',\n  type: 'unsupported'\n};"
      },
      "id": "unsupported-node",
      "name": "Unsupported_Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 800]
    },
    {
      "parameters": {
        "jsCode": "// Post-process (Defensive)\nconst data = $json;\nconst intent = data.intent || 'unknown';\nlet response = '';\n\nif (intent === 'get_weather') {\n  const loc = data.location ?? {};\n  const cur = data.current ?? {};\n  response = `🌤️ Thời tiết ${loc.name || 'N/A'}:\\n`;\n  response += `• Nhiệt độ: ${cur.temp_c || 'N/A'}°C\\n`;\n  response += `• Tình trạng: ${cur.condition?.text || 'N/A'}\\n`;\n  response += `• Độ ẩm: ${cur.humidity || 'N/A'}%`;\n  \n} else if (intent === 'search_hotel') {\n  const hotels = data.tool_result?.hotels || [];\n  response = '🏨 Khách sạn:\\n\\n';\n  hotels.forEach((h, i) => {\n    response += `${i+1}. ${h.name} - ${h.price}\\n`;\n  });\n  \n} else if (intent === 'get_attraction_info') {\n  const attractions = data.tool_result?.attractions || [];\n  response = '🏛️ Điểm tham quan:\\n\\n';\n  attractions.forEach((a, i) => {\n    response += `${i+1}. ${a.name} - ${a.rating}\\n`;\n  });\n} else {\n  response = data.response || 'Không thể xử lý yêu cầu.';\n}\n\nreturn { intent, response, type: 'success' };"
      },
      "id": "postprocess-node",
      "name": "Post_Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-node",
      "name": "Final_Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [2400, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate_Input", "type": "main", "index": 0 }]]
    },
    "Validate_Input": {
      "main": [
        [{ "node": "Rule_Intent_Detect", "type": "main", "index": 0 }],
        [{ "node": "Validation_Error", "type": "main", "index": 0 }]
      ]
    },
    "Validation_Error": {
      "main": [[{ "node": "Final_Respond", "type": "main", "index": 0 }]]
    },
    "Rule_Intent_Detect": {
      "main": [[{ "node": "AI_Fallback_Check", "type": "main", "index": 0 }]]
    },
    "AI_Fallback_Check": {
      "main": [
        [{ "node": "AI_Agent_Fallback", "type": "main", "index": 0 }],
        [{ "node": "Normalize_Entities", "type": "main", "index": 0 }]
      ]
    },
    "AI_Agent_Fallback": {
      "main": [[{ "node": "Normalize_Entities", "type": "main", "index": 0 }]]
    },
    "Normalize_Entities": {
      "main": [[{ "node": "Check_Required_Fields", "type": "main", "index": 0 }]]
    },
    "Check_Required_Fields": {
      "main": [[{ "node": "Has_All_Required_Data?", "type": "main", "index": 0 }]]
    },
    "Has_All_Required_Data?": {
      "main": [
        [{ "node": "Route_to_Tool", "type": "main", "index": 0 }],
        [{ "node": "Generate_Clarification", "type": "main", "index": 0 }]
      ]
    },
    "Generate_Clarification": {
      "main": [[{ "node": "Final_Respond", "type": "main", "index": 0 }]]
    },
    "Route_to_Tool": {
      "main": [
        [{ "node": "Weather_API", "type": "main", "index": 0 }],
        [{ "node": "Hotel_Mock", "type": "main", "index": 0 }],
        [{ "node": "Attraction_Mock", "type": "main", "index": 0 }],
        [{ "node": "Unsupported_Handler", "type": "main", "index": 0 }]
      ]
    },
    "Weather_API": {
      "main": [[{ "node": "Post_Process", "type": "main", "index": 0 }]]
    },
    "Hotel_Mock": {
      "main": [[{ "node": "Post_Process", "type": "main", "index": 0 }]]
    },
    "Attraction_Mock": {
      "main": [[{ "node": "Post_Process", "type": "main", "index": 0 }]]
    },
    "Unsupported_Handler": {
      "main": [[{ "node": "Post_Process", "type": "main", "index": 0 }]]
    },
    "Post_Process": {
      "main": [[{ "node": "Final_Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v2"
  },
  "versionId": "pro-v1",
  "meta": {
    "instanceId": "hybrid-pro"
  },
  "id": "HybridTravelPRO",
  "tags": [
    {
      "name": "production-ready"
    },
    {
      "name": "pro-standard"
    }
  ]
}
