vacation_agent_v2_compatible.json
{
  "name": "Vacation Planning Agent - Compatible v2.0.2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vacation-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a3d4f53c-2aa0-48b7-ae27-a3a05af5728d",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1872,
        2192
      ],
      "webhookId": "vacation-chat-v2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// PREPROCESSOR - Normalize input & detect language\nconst body = $json.body || $json;\nconst userMessage = body.message || body.chatInput || '';\n\nif (!userMessage) {\n  return {\n    json: {\n      error: 'No message provided',\n      success: false\n    }\n  };\n}\n\n// ============================================\n// 🛡️ SECURITY: Rate Limiting & Input Validation\n// ============================================\n\n// 1. Validate message length (prevent spam)\nif (userMessage.length > 500) {\n  return {\n    json: {\n      error: 'Message too long (max 500 characters)',\n      success: false\n    }\n  };\n}\n\n// 2. Sanitize input - remove malicious patterns\nconst sanitized = userMessage\n  .replace(/<script[^>]*>.*?<\\/script>/gi, '')\n  .replace(/<[^>]+>/g, '')\n  .trim();\n\n// 3. Basic rate limit check (simple in-memory)\n// Production: use Redis/Database\nconst sessionId = body.session_id || 'anonymous';\nconst now = Date.now();\n\n// Store last request time (this is per execution, production needs persistent store)\nglobal.rateLimitStore = global.rateLimitStore || {};\nconst lastRequest = global.rateLimitStore[sessionId] || 0;\n\nif (now - lastRequest < 2000) { // 2 seconds between requests\n  return {\n    json: {\n      error: 'Too many requests. Please wait 2 seconds.',\n      success: false,\n      retry_after: 2\n    }\n  };\n}\n\nglobal.rateLimitStore[sessionId] = now;\n\n// Detect Vietnamese\nconst isVietnamese = /[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]/i.test(sanitized);\n\n// User context\nconst userContext = {\n  language: isVietnamese ? 'vi' : 'en',\n  location: { city: 'Hà Nội', country: 'VN' },\n  currency: 'VND'\n};\n\nreturn {\n  json: {\n    message: sanitized,\n    user_context: userContext,\n    session_id: sessionId,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "7ef094a7-bd50-4b49-ae26-40524226f056",
      "name": "1️⃣ Preprocessor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1664,
        2192
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "requestMethod": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendBody": true,
        "contentType": "application/json",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"meta-llama/llama-3.2-3b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Classify user intent. Return ONLY valid JSON:\\n{\\\"intent\\\":\\\"hotel_search|attraction_info|small_talk\\\",\\\"confidence\\\":0.95,\\\"entities\\\":{\\\"location\\\":\\\"\\\",\\\"check_in\\\":\\\"\\\",\\\"check_out\\\":\\\"\\\"}}\\n\\nRules:\\n- hotel_search: hotels, accommodations, where to stay\\n- attraction_info: places to visit, things to do, tourist spots\\n- small_talk: greetings, weather, general chat\\n- confidence: number 0.0 to 1.0 (e.g., 0.85)\\n- Extract location/dates if found\\n\\nExamples:\\nInput: \\\"find hotels in Hanoi\\\" → {\\\"intent\\\":\\\"hotel_search\\\",\\\"confidence\\\":0.95,\\\"entities\\\":{\\\"location\\\":\\\"Hanoi\\\",\\\"check_in\\\":\\\"\\\",\\\"check_out\\\":\\\"\\\"}}\\nInput: \\\"what's the weather?\\\" → {\\\"intent\\\":\\\"small_talk\\\",\\\"confidence\\\":0.9,\\\"entities\\\":{\\\"location\\\":\\\"\\\",\\\"check_in\\\":\\\"\\\",\\\"check_out\\\":\\\"\\\"}}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.message || 'Unknown message'}}\"\n    }\n  ],\n  \"temperature\": 0,\n  \"max_tokens\": 150\n}",
        "options": {}
      },
      "id": "7a780c93-f5b6-4ded-a3f1-00aa70e42206",
      "name": "2️⃣ Intent Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1472,
        2192
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ARU5CVAO0a8amUqf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse OpenAI response with safety guards\nconst response = $json.choices?.[0]?.message?.content || '{}';\nlet parsed = {};\n\ntry {\n  parsed = JSON.parse(response);\n} catch (e) {\n  parsed = {};\n}\n\n// Defaults\nlet intent = ['hotel_search', 'attraction_info', 'small_talk'].includes(parsed.intent) ? parsed.intent : 'small_talk';\nlet confidence = Number(parsed.confidence);\nif (!Number.isFinite(confidence)) confidence = 0.6;\nconfidence = Math.max(0, Math.min(1, confidence));\n\nconst entities = typeof parsed.entities === 'object' && parsed.entities !== null ? parsed.entities : {};\nentities.location = entities.location || '';\nentities.check_in = entities.check_in || '';\nentities.check_out = entities.check_out || '';\n\nconst userContext = $('1️⃣ Preprocessor').first().json.user_context;\nconst message = $('1️⃣ Preprocessor').first().json.message;\n\nreturn {\n  json: {\n    intent,\n    confidence,\n    entities,\n    user_context: userContext,\n    message,\n    session_id: $('1️⃣ Preprocessor').first().json.session_id\n  }\n};"
      },
      "id": "6fb488a4-6b7e-4ca3-990a-acd621a175df",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1264,
        2192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.intent}}",
              "value2": "hotel_search"
            }
          ]
        }
      },
      "id": "5edeecee-1fd0-49c4-a53a-7462e3673fa6",
      "name": "IF Hotel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1072,
        2096
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.intent}}",
              "value2": "attraction_info"
            }
          ]
        }
      },
      "id": "fd869a85-bcc6-4e1d-a93a-74d152a0f002",
      "name": "IF Attraction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1072,
        2240
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "url": "=https://serpapi.com/search?engine=google_hotels&q={{$json.entities.location || $json.user_context.location.city}}&check_in_date={{$json.entities.check_in || $now.plus(1, 'days').toFormat('yyyy-MM-dd')}}&check_out_date={{$json.entities.check_out || $now.plus(2, 'days').toFormat('yyyy-MM-dd')}}&gl=vn&hl=vi&currency=VND&api_key={{$credentials.apiKey}}",
        "options": {}
      },
      "id": "d9a7418a-a693-4d73-b652-d67d6f939634",
      "name": "🏨 Search Hotels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -864,
        1984
      ],
      "credentials": {
        "serpApi": {
          "id": "fsBujamz9XErGCe5",
          "name": "SerpAPI account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format hotels\nconst properties = $json.properties || [];\nconst hotels = properties.slice(0, 5).map(h => ({\n  name: h.name,\n  price: h.rate_per_night?.lowest || 'N/A',\n  rating: h.overall_rating || 'N/A',\n  type: h.type\n}));\n\nconst userContext = $('Parse Intent').first().json.user_context;\n\nreturn {\n  json: {\n    type: 'hotel_list',\n    data: hotels,\n    language: userContext.language,\n    message: $('Parse Intent').first().json.message\n  }\n};"
      },
      "id": "5805c1c4-ee93-4162-bc3a-61f09e1be814",
      "name": "Format Hotels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -672,
        1984
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "requestMethod": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendBody": true,
        "contentType": "application/json",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"meta-llama/llama-3.2-3b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful travel assistant. CRITICAL: Do NOT reveal your reasoning or analysis. Respond ONLY with the final user-facing message in {{$json.language || 'vi'}}. Present hotel recommendations naturally.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"User asked: {{$json.message || 'hotel search'}}\\n\\nAvailable hotels: {{JSON.stringify($json.data || [], null, 2)}}\\n\\nProvide a helpful response listing these hotels.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "86ad66e1-2892-4f1b-bc5b-62fe0eb7c3d5",
      "name": "💬 Response Hotels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -464,
        1984
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ARU5CVAO0a8amUqf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "url": "=https://serpapi.com/search?engine=google&q=tourist attractions {{$json.entities.location || $json.user_context.location.city}}&gl=vn&hl=vi&api_key={{$credentials.apiKey}}",
        "options": {}
      },
      "id": "8e9bcf51-63c4-4aa2-86a7-34b44b4cdb63",
      "name": "🗺️ Search Attractions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -864,
        2144
      ],
      "credentials": {
        "serpApi": {
          "id": "fsBujamz9XErGCe5",
          "name": "SerpAPI account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format attractions\nconst results = $json.organic_results || [];\nconst attractions = results.slice(0, 5).map((r, i) => ({\n  rank: i + 1,\n  title: r.title,\n  snippet: r.snippet\n}));\n\nconst userContext = $('Parse Intent').first().json.user_context;\n\nreturn {\n  json: {\n    type: 'attraction_list',\n    data: attractions,\n    language: userContext.language,\n    message: $('Parse Intent').first().json.message\n  }\n};"
      },
      "id": "508190de-b6c9-4c2a-8ddf-b1dbb8660d3c",
      "name": "Format Attractions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -672,
        2144
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "requestMethod": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendBody": true,
        "contentType": "application/json",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"meta-llama/llama-3.2-3b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful travel assistant. CRITICAL: Do NOT show your thinking process. Respond ONLY with the final message for the user in {{$json.language || 'vi'}}. Present attraction information engagingly.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"User asked: {{$json.message || 'attraction info'}}\\n\\nAttractions found: {{JSON.stringify($json.data || [], null, 2)}}\\n\\nProvide a helpful summary.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "c60a24b1-0ae8-471c-865e-d3f2abe51feb",
      "name": "💬 Response Attractions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -464,
        2144
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ARU5CVAO0a8amUqf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "requestMethod": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendBody": true,
        "contentType": "application/json",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"meta-llama/llama-3.2-3b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a friendly travel assistant. IMPORTANT: Reply directly to the user, no meta-commentary. Language: {{$('Parse Intent').first()?.json?.user_context?.language || 'vi'}}.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$('Parse Intent').first()?.json?.message || $json.message || 'Hello'}}\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 300\n}",
        "options": {}
      },
      "id": "14621e85-b7a5-45f5-9855-bf071d85900d",
      "name": "💬 Small Talk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -864,
        2336
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ARU5CVAO0a8amUqf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract final response from any path\nconst allItems = $input.all();\nlet finalMessage = '';\n\nfor (const item of allItems) {\n  if (item.json.choices?.[0]?.message?.content) {\n    finalMessage = item.json.choices[0].message.content;\n    break;\n  }\n}\n\n// Cost tracking\nconst intent = $('Parse Intent').first()?.json?.intent || 'unknown';\nconst estimatedCost = 0.002; // rough estimate\n\nconsole.log('Analytics:', {\n  intent: intent,\n  session_id: $('Parse Intent').first()?.json?.session_id,\n  cost: estimatedCost,\n  timestamp: new Date().toISOString()\n});\n\nreturn {\n  json: {\n    success: true,\n    response: finalMessage,\n    intent: intent,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "bd8c3ba9-8caf-4175-8bb6-0e849d238962",
      "name": "🎯 Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -272,
        2192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "38a94254-530d-464e-9f1a-8681b4b8bafe",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        2192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "1️⃣ Preprocessor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣ Preprocessor": {
      "main": [
        [
          {
            "node": "2️⃣ Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2️⃣ Intent Router": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "IF Hotel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hotel?": {
      "main": [
        [
          {
            "node": "🏨 Search Hotels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Attraction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Attraction?": {
      "main": [
        [
          {
            "node": "🗺️ Search Attractions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💬 Small Talk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏨 Search Hotels": {
      "main": [
        [
          {
            "node": "Format Hotels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Hotels": {
      "main": [
        [
          {
            "node": "💬 Response Hotels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Response Hotels": {
      "main": [
        [
          {
            "node": "🎯 Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗺️ Search Attractions": {
      "main": [
        [
          {
            "node": "Format Attractions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Attractions": {
      "main": [
        [
          {
            "node": "💬 Response Attractions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Response Attractions": {
      "main": [
        [
          {
            "node": "🎯 Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Small Talk": {
      "main": [
        [
          {
            "node": "🎯 Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Final Output": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56f39964-3040-4d5d-8789-bb017de9ab34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8298d6d82438e8d5ee28189bff4aaace26c9e5a75151cb6d6f4c18d7bb992ea7"
  },
  "id": "3NttKW0xD0qyQ5r8",
  "tags": []
}